@font-face{
    font-family: 'moontime';
    src: url(../assets/font/FontsFree-Net-MoonTime-Regular-1.ttf);
}

@font-face{
    font-family: 'christmas';
    src: url(../assets/font/Christmas\ and\ Santona.ttf);
}

body {
    overflow: overlay;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px !important;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.font-estetik {
    font-family: 'moontime';
}

.font-estetik1{
    font-family: 'christmas';
}

.footer-custom a{
    text-decoration: none;
    color: #ffffff;
}

.modal-content{
    background: url("../assets/images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#home{
    height: 100vh;
    background: url("../assets/images/cover-top1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#mempelai{
    height: max-content;
    background: url("../assets/images/cover-couple.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#ucapan{
    height: max-content;
    background: url("../assets/images/cover-top1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* padding: 100px 0px; */
}

.wleowleo{
    margin-top: -55px;
}

.wleowleoo{
    margin-bottom: -55px;
}

.alisra{
    width: 100px;
    padding: 15px;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh;
    right: 2vh;
    z-index: 1055;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    z-index: 1055 !important;
}

.ucapan {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.ucapan::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.contact-us{
  /* background: linear-gradient(100deg, rgba(43,41,42,1) 0%, rgba(55,54,55,1) 50%, rgba(62,62,62,1) 100%); */
  /* background-color: #ff1414; */
  position: relative;
  /* padding: 30px 20px; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
}

/* .box h2{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 'neutrn';
  letter-spacing: 2px;
  font-weight: lighter;
  color: #ffffff;
  margin-top: -10px;
  font-weight: bold;
} */

.box p{
  color: #ffffff;
  text-align: center;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Playfair Display', serif;
  padding: 0 20px 10px 20px;
  font-size: 15px;
}

.box button{
  width: 100%;
  height: 40px;
  background: transparent;
  border: #ffffff 1px solid ;
  font-size: 20px;
  font-family: 'neutron';
  margin-bottom: 20px;
  cursor: pointer;
  color: #ffffff;
}

.box button:hover{
  background: #0e0e0e ;
  color: #fff;
  transition: .5s;
}

.box .footer-content{
  margin: 10px 0 50px 0;
  position: relative;
}

.thankyou{
  width: 100%;
  height: max-content;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.thankyou h2{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  /* font-family: 'Mitr', sans-serif; */
  color: #ffffff;
}

.thankyou img{
  padding: 20px 0;
  width: 300px;
}

.thankyou h5{
  text-align: center;
  font-family: 'moontime';
  color: #ffffff;
  font-size: 65px !important;
  font-weight: 500;
  text-shadow: #ffffff 0.5px 1px;
  margin-top: 20px;
}

.contact-us form input{
  margin-bottom: 10px;
}

.contact-us form input, .contact-us form #message{
  width: 100%;
  height: 100px;
  /* font-size: 1.0625rem; */
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  /* font-family: 'Josefin Sans',sans-serif; */
  font-family: 'Playfair Display', serif;
}

#name::-webkit-input-placeholder,
#message::-webkit-input-placeholder{
  color: #ffffff;
  padding-left: 8px;
}

.contact-us form #message{
  padding-top: 10px;
}

.contact-us form input:focus,
.contact-us form #message:focus{
  outline-color: #ffffff;
}
.contact-us form input{
  height: 35px;
}
.contact-us form .btn{
  margin-top: 10px;
}

#input_button{
  height: 40px;
  width: 100%;
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Playfair Display', serif;
}

#input_button:hover{
  background-color: #111111;
  color:#fff;
}

#input_button:active{
  transform: translateY(4px);
}

 .container1{
  width:100%;
  height:40vh;
  display: block;
  overflow: auto;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.1);
  /* padding-right: 10px; */
  font-family: 'Playfair Display', serif;
}

.task_container{
  background-color:transparent;
  width: 100% !important;
  padding: 10px;
}

.task_container:hover{
  background-color: #262626;
}

#task_data{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
}

#task_title{
  /* font-family:monospace; */
  font-family: 'Playfair Display', serif;
  font-size:15px;
  width:100%;
  text-align: left;
  padding: 0;
  color: #ffffff;
}

#task_title p{
  padding-right: 10px;
  /* font-family: 'Playfair Display', serif; */
}

#task_date{
  text-align: left;
  padding: 0;
  /* font-family:monospace; */
  font-family: 'Playfair Display', serif;
  font-size:15px;
  font-weight: bold;
  padding-top: 5px;
  color: #ffffff;
}

.protokol-kesehatan {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.prokes-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(238, 238, 238);
  padding: 1rem 1.5rem;
  width: 90vw;
  border-radius: 0.5rem;
}

.prokes-content img{
  margin-top: 15px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.prokes-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  color: #111111;
}

.prokes-close-button:hover {
  background-color: rgb(181, 0, 0);
  color: #fff;
}

.prokes-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* swiper */

    .swiper-wrapper {
      background: transparent;     
      color: #000;
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #000; */
      /* display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: aqua !important; */
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2, .mySwiper2Engagement {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: aqua; */
      /* margin: auto 0; */
    }

    .mySwiper2 .swiper-wrapper .swiper-slide, .mySwiper2Engagement .swiper-wrapper .swiper-slide{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center !important;
      margin: auto 0;
    }

    .mySwiper, .mySwiperEngagement {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide, .mySwiperEngagement .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active, .mySwiperEngagement .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* .swiper-slide .caption{
      text-align: center;
      font-family: 'christmas';
      font-size: 25px;
      color: #ffffff;
      padding: 10px;
    } */

    
